{#
/**
 * @file image_gallery.html.twig
 * Default theme implementation to present Image gallery data.
 *
 * This template is used when viewing Image gallery pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_image_gallery()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('image_gallery') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
